html{
 background-image: url(hatter.png);
 scroll-behavior: fixed;
 background-repeat: no-repeat;
 background-position: middle;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 font-size: large;
 color: #504033;
 margin:0px , 250px;
 line-height: 1.5 ;
}
.keret{
    background-color: white;
    padding: 15px;
    opacity: 80%;
}
.h{
    text-decoration-line: underline 1px;
    text-align: center;
    
    
    
}
    
